.flex-container {
    display: flex;
    width: 100%;
    justify-content: left;
    flex-wrap: wrap;
    flex-direction:row;
    align-items: center;

}


.btnComprar{
    text-align: center;
    margin-bottom: 100px;
}
#secProducts{
    text-align: center;
}

#descricao{
    /* text-align: center; */
    margin: 30px;

}

.row{
    align-items: center;
    margin-top: 30px;
}

