<app-menu-products></app-menu-products>
<section class="flex-container">
    <div class="row" *ngFor = "let product of products">
      <h1 *ngIf ="product.classificacao == 'computadores'" >{{ product.name }}</h1>
      <img *ngIf ="product.classificacao == 'computadores'" src = "{{ product.picture }}" width="400" height="300"/>
      <h1 *ngIf ="product.classificacao == 'computadores'">{{ product.price | currency:'BRL'}}</h1>
      <h3 *ngIf ="product.classificacao == 'computadores'"id="descricao" class="col-md-12">{{ product.description }}</h3>
      <button *ngIf ="product.classificacao == 'computadores'"class="btn btn-success">Comprar!</button>
    </div>
</section>  