<section>
    <div class="flex-container">
       <div class="txtManut">
           <img class="imgManut" src="../assets/img/portfolio/bateria.png"/><br>
           <a href="https://www.tecmundo.com.br/smartphone/117262-seis-praticas-preservar-bateria-smartphone.htm" >Cuidados com sua bateria</a>
        </div>
        <div class="txtManut">
            <img class="imgManut" src="../assets/img/portfolio/limpeza.png"/><br>
            <a href="https://tecnoblog.net/2379/cuidados-com-o-celular-10-dicas-para-o-seu-aparelho-durar-mais/" >Limpeza de seus aparelhos</a>
        </div>
        <div class="txtManut">
            <img class="imgManut" src="../assets/img/portfolio/cuidadoInfantil.png"/><br>
            <a href="https://www.justrealmoms.com.br/os-beneficios-e-os-riscos-dos-aparelhos-eletronicos-no-desenvolvimento-das-criancas-por-carla-poppa/" >Cuidados com crianças e aparelhos eletrônicos</a>
        </div>   
    </div><br>

</section>