<section id="secCarrinho">
    <div id="centerTable">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Produto</th>
                    <th>Descição</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>iPad</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia autem fugi.</td>
                    <td>R$4.900,00</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Samsung Galaxy Tab</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia autem fugi.</td>
                    <td>R$3.900,00</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Motorola G5</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia autem fugi.</td>
                    <td>R$899,00</td>
                </tr>
                <tr>
                    <td>Total: </td>
                    <td></td>
                    <td></td>
                    <td>R$9699,00</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button id="btnCar">Finalizar compra!</button></td>
                </tr>
            </tbody><br>
            <!-- <button id="btnCar">Finalizar compra!</button> -->
        </table>       
    </div>
</section>

