.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction:inherit;
    align-items: center;
    text-align: center;

}

.row{
    padding-top: 3vw;
    /* margin-left: 0.5vw; */
}