  <!-- +++++ Welcome Section +++++ -->
  <div id="ww">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
          <!-- <img src="assets/img/user.png" alt="Stanley"> -->
          <h1>KodEletronics</h1>
          <p>Seja bem-vindo a KodEletronics!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quo rerum dolores et corporis dignissimos, ratione consectetur doloremque fugiat, voluptatem similique veritatis asperiores. Voluptate id beatae saepe aliquam, sint nisi.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quo rerum dolores et corporis dignissimos, ratione consectetur doloremque fugiat, voluptatem similique veritatis asperiores. Voluptate id beatae saepe aliquam, sint nisi.</p>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quo rerum dolores et corporis dignissimos, ratione consectetur doloremque fugiat, voluptatem similique veritatis asperiores. Voluptate id beatae saepe aliquam, sint nisi.</p> -->
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quo rerum dolores et corporis dignissimos, ratione consectetur doloremque fugiat, voluptatem similique veritatis asperiores. Voluptate id beatae saepe aliquam, sint nisi.</p> -->
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quo rerum dolores et corporis dignissimos, ratione consectetur doloremque fugiat, voluptatem similique veritatis asperiores. Voluptate id beatae saepe aliquam, sint nisi.</p> -->
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quo rerum dolores et corporis dignissimos, ratione consectetur doloremque fugiat, voluptatem similique veritatis asperiores. Voluptate id beatae saepe aliquam, sint nisi.</p> -->
        </div>
        <!-- /col-lg-8 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /ww -->